@charset "UTF-8";
:root {
    --cor-principal: #151515;
    --cor-secundaria: #f6f6f6;
    --cor-destaque: #d35f00;    
}

@media screen and (min-width: 728px) {

    nav {
        height: 80px;
    }
   
    .open-sidebar-button, .close-sidebar-button {
        display: none;
    }
    div.menu {
        display: flex;
        flex-direction: row;
        height: 100%;  
        position: relative;
        align-items: center;
        right: auto;
        width: auto;
        padding-right: 20px;
        background-color: rgba(0, 0, 0, 0);
    }

    .menu a {
        display: flex;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        height: 100%;
        width: auto;
    }

    .menu a:hover {
        background-color: #15151500;
        color: var(--cor-secundaria);
        text-decoration: underline;
    }

    /* .categorias {
        flex-flow: row nowrap;
        width: 100vw;
        height: 500px;
    } */
    /* .categorias div:hover {
        height: auto;
        width: 150%;
    } */

    main {
        position: absolute;
        top: 80px;
    }

    .categorias {
        flex-flow: column nowrap;
        width: 100vw;
        height: calc(100vh - 80px);
    }
    .categorias div:hover {
        height: 200%;
    }

    .categorias div:hover {
        background-color: #f6f6f6;
    }

    .categorias div {
        height: 100%;
        width: 100%;
        min-width: 242px;
        transition: 0.3s ease;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    .destaques {
        height: auto;
        width: 100vw;
        overflow: auto;
        flex-direction: row;
    }

    .destaques .trabalho {
        height: 400px;
        min-width: 600px;
    }

    .overlay h1 {
        font-size: 3em;
    }
    .overlay h2 {
        font-size: 1em;
        padding-left: 5px;
    }
    .overlay p {
        font-size: 1em;
        padding-left: 5px;
    }
}